class Env {
  // Clave secreta de Google Gemini
  // COPIA ESTE ARCHIVO, RENÓMBRALO A 'env.dart' Y PEGA TU CLAVE DE API DE GEMINI AQUÍ
  static const String geminiApiKey = 'TU_GEMINI_API_KEY_AQUI';
}
